body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 background-color: rgb(221, 220, 220);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cart-icon {
  margin-right: 10px;
}

.styling-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 50px 50px 50px;
  padding-top: 10px;
}

.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #000407; 
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.margin {
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.checkout-link {
  background-color: white;
  width: fit-content;
  padding: 10px;
  border-radius: 6px;
}

.about {
  display: flex;
  justify-content: center;
  margin-top: 10px;;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: +1;
}

@media (min-width: 600px) {
  .cart-icon {
    margin-right: 20px;
  }

.cart-button, .margin, .cart-items {
    display: flex;
    justify-content: center;
  }

  .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
